.two-columns {
  display: flex;
  justify-content: space-around;
}

.column {

}

.about-text {
  width: 500px;
}

.avatar {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 5px solid #f1f1f1;
}
