<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Viscoze's blog</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/css/favicon.png">
  </head>
  <body>
    {% if page.url == "/" %}
    <header>
    {% else %}
    <header class="compact">
    {% endif %}
      <a href="/">
        <div id="logo">
          Vlad Oganov
          <span id="sub-title">middle javascript lover</span>
        </div>
      </a>
    </header>
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="{{ site.twitter_url }}">Twitter</a></li>
      </ul>
    </nav>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
    {% if page.url != "/" and page.url != "/about/" %}
      <div class="bottom"></div>
    {% else %}
      <div></div>
    {% endif %}
  </body>
</html>
